body {
    font-family: Arial;
    background-color: black;
    text-align: center;
}

h1 {
    color: #333;
}
body {
    font-family: Arial, sans-serif;
    margin: 3;
    background-color: white;
    text-align: center;
}

header {
    background-color: #333;
    color: blue;
    padding: 40px 20px;
}

.services, .contact {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
